/*reset*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --coffee-black: #0B1D03;
    --coffee-light: #A0996C;
    --coffee-grey: #F7F1E6;
    --coffee-background: #FFFCF6;
    --grey: #969696;
    font-size: 16px;
    font-family: 'Khula', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: var(--coffee-black);
}

li{
    list-style: none;
}

/*assets*/
.button__add--default{
    width: 100%;
    height: auto;
    background: var(--coffee-black);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.25rem;
    padding: 1.5rem 0;
    border: none;
    cursor: pointer;
}

.a-title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    line-height: 5.5rem;
    color: var(--white)
}

.b-title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 3.75rem;
    color: var(--coffee-black);
}

.a-subtitle{
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;  
}

.b-subtitle{
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;  
}

.c-subtitle{
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625;
    letter-spacing: 0.04em;
}

.a-span{
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    letter-spacing: 0.04em;
}

.b-span{
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625rem;
    text-align: center;
    letter-spacing: 0.04em;
}

.input-span{
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.span-ghost{
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.04em;
    color: var(--grey);
}

/*inputs text*/
select{
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--grey);
}

body{
    background: var(--coffee-background);
}

/*wrapper*/
.wrapper{
    width: 100%;
    height: auto;
    max-width: 1600px;
    margin: 0 auto;
}

/*header*/
.prelude-header{
    width: 100%;
    height: 5.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__icon--hamburguer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.header__icon--hamburguer span{
    width: 20px;
    height: 2px;
    margin-bottom: 0.25rem;
    background: var(--white);
    display: block;
}

.logo{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.75rem;
    color: var(--white);
}

.header__icon--bag{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*prelude content*/
.prelude-section{
    margin: 9.75rem 0 0 0;
}

.prelude-container{
    width: 100%;
    height: auto;
    padding: 0 5% 6rem 5%;
    background-color: var(--coffee-light);
    background: url(../images/img/hero2.jpg) no-repeat center;
}

.slide-control{
    width: 7rem;
    height: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-control span{
    background: var(--white);
    width: 32px;
    height: 4px;
    cursor: pointer;
}

.prelude-text{
    width: 100%;
    height: auto;
    margin: 2.5rem 0 0 0;
    color: var(--white);
}

.prelude-h1 > span{
    display: block;
}

.prelude-p{
    margin: 1.5rem 0 0 0;
}

.arrow-controls{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1.25rem;
    margin: 7.5rem 0 0 0;
}

.arrow-wrapper{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

/*intro section*/
.intro-section{
    padding: 7.5rem 5% 11.5rem 5%;
}

.magic-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.magic-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 37.5%;
}

.breakfast-container{
    display: flex;
    gap: 2rem;
    flex-direction: row-reverse;
    margin-top: 9rem;
}

.breakfast-text{
    display: grid;
    gap: 2rem;
    max-width: 37.5%;
    height: 15.75rem;
    margin-right: 2rem;
}

.products-section{
    padding: 0 5% 7.5rem 5%;
    width: 100%;
    margin: auto;
}

.products-section h2{
    color: var(--coffee-light);
    display: inline-block;
    margin: 0 0 4rem; 
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    gap: 2%;
}

.product-box{
    min-width: 21.125%;
    height: auto;
    background: var(--coffee-grey);
    padding: 2.5rem 2rem 2rem 2rem;
    display: inline-block;
    border-radius: 8px;
    margin: 1% 0;
}

.product-title{
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.product-picture{
    display: flex;
    justify-content: center;
    margin: 3rem 0 2rem 0;
}

.product-prices{
    text-align: center;
    margin-bottom: 3rem;
}

.price--discount{
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

.price--real{
    color: var(--grey);
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
}

.info-section{
    width: 100%;
    padding: 5rem 5%;
}

.benefit-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: flex-start;
}

.sprite {
    width: 66px;
    height: 40px;
    margin-top: 3rem;
}

.benefit__item{
    width: 16.375rem;
    height: auto;
    display: grid;
    gap: 1.5rem;
    place-items: center;
}
.benefit__span-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.benefit__span-wrapper span{
    display: block;
    width: 50%;
}

.images-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    align-items: center;
    height: auto;
    margin-top: 4rem;
}

.images-box{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.catalog-box,
.tool-box{
    max-width: 100%;
    position: relative;
    top: 0%;
    left: 0;
}

.tool-text,
.catalog-text{
    position: absolute;
    display: inline-block;
    width: 64.07%;
    left: 2.5rem;
    bottom: 2.5rem;
    z-index: 2;
}

.catalog-text p{
    margin: 1.5rem 0 0 0;
}

.tool-text p{
    margin: 1.5rem 0 0 0;
}


.info-text{
    color: var(--white);
}

/*location section*/
.location-section{
    background: var(--white);
    margin: 5rem 0 0 0;
    padding: 2.5rem 5%;
}

.location__inputs{
    margin: 3rem 0 1.5rem 0;
    display: grid;
    gap: 2rem;
    width: 100%;
    grid-template-columns: 1fr 2fr;
}

.location__input--city{
    border-radius: 4px;   
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 100%;
    height: auto;
    padding: 1.5rem 1.75rem;
    border: 2px solid var(--coffee-black);
    border-radius: 4px;  
    background: url(/images/icons/arrow-down-input.svg) no-repeat 95% center;
}   

.location__input--adress{
    border-radius: 4px;   
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--coffee-black);
    padding: 1.5rem 1.75rem;
}

.address-input{
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    padding: 0 1.75rem 0 0 ;
    outline: 0;
}

.location-map{
    width: 100%;
}

/*footer*/
.footer-section{
    background: var(--coffee-grey);
    padding: 3.5rem 5% 0 5%;
    width: 100%;
    height: auto;
}

.footer{
    width: 100%;
    display: flex;
    height: auto;
}

.footer-content{
    display: flex;
    gap: 4.5rem;
    width: 100%;
}


.logo-footer{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin-right: 8.5625rem;
}

.footer-nav__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.content-nav{
    display: flex;
    flex-wrap: wrap;
    min-width: 21%;
    width: 100%;
}

.footer-item--title{
    font-family: 'Khula';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.125rem;
    display: inline-block;
}

.footer-item--link{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
}

.footer__social{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.social__icons{
    display: flex;
    gap: 1.25rem;
}

.design{
    padding: 1.5rem 0 1rem 0;
    width: 100%;
    max-width: 1600px;
    display: block;
    height: auto;
}
#mentorama{
    display: block;
    text-align: center;
}

@media screen and (max-width: 1283px){
    .popup__all{
        
    }
}

@media screen and (max-width: 1225px){
    .prelude-container{
        width: 100%;
        height: 100%;
        padding-bottom: 5.125rem;
        /* background: url(/images/img/hero-medium.jpg) no-repeat 100% center; */
    }

    .prelude-h1{
        font-style: normal;
        font-weight: bold;
        font-size: 4.125rem;
        line-height: 4.375rem;
    }

    .prelude-p{
        font-style: normal;
        font-weight: normal;
        font-size: 1.5625rem;
        line-height: 1.875rem;
    }

    .arrow-controls{
        justify-content: flex-end;
        margin: 3.75rem 0 0 0;
    }

    .arrow-wrapper{
        display: flex;
        align-items: center;
        gap: 1.875rem;
    }

}

@media screen and (max-width: 1178px){
    .intro-section{
        padding: 6.25rem 15px;
    }

    .magic-container{
        gap: 2rem;
    }

    .magic-text,
    .breakfast-text{
        min-width: 23.53125rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 37.5%;
        letter-spacing: -.04rem;
    }

    .b-subtitle{
        /* width: 23.975rem; */
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }

    .products-section{
        padding: 0 15px 6.25rem;
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 100%;
        gap: 1% 2%;
    }

    .product-box{
        min-width: 21.125%;
    }

    .product-title{
        font-size: 1.125rem;
    }
    /*info section*/
    .info-section{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 5rem 15px 0;
    }

    .images-container{
        margin-top: 6.25rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        gap: 1.875rem;
        height: auto;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3.125rem;
    }

    .footer-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__social{
        margin-bottom: 4.375rem;
    }
}

@media screen and (max-width: 732px){
    .magic-container,
    .breakfast-container{
        width: 100%;
        flex-wrap: wrap;
        margin: 4.375rem 0 0 0;
        padding: 0;
        gap: 0;
        flex-direction: row;
    }
    
    .breakfast-container{
        flex-direction: row-reverse;
    }

    .magic-text,
    .breakfast-text{
        width: 100%;
        height: auto;
        min-width: 18.75rem;
        padding: 1.5rem .625rem;
        margin: 0px;
        gap: 0;
    }

    .b-title{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .b-subtitle{
        font-size: 1.125rem;
        line-height: 1.5625rem;
        margin-top: .5rem;
    }

    /*benefits*/
    .benefit__span-wrapper span{
        width: 100%;
    }

    /*info*/
    .catalog-box picture{
        width: 100%;
    }
}

@media screen and (max-width: 655px) {
    /*prelude*/
    .prelude-container{
        width: 100%;
        height: 30rem;
        padding: 0 10px;
    }   

    .prelude-header{
        width: 100%;
        height: 3.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .prelude-section{
        margin: 3.75rem 0 0 0;
    }
    .slide-control{
        width: 4.5rem;
    }

    .slide-control span{
        width: 1.25rem;
    }

    .prelude-h1{
        font-size: 2.1875rem;
        line-height: 2.625rem;
    }

    .prelude-p{
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    .arrow-controls{
        justify-content: flex-start;
        width: 100px;
        height: 42px;
    }
    
    .magic-container,
    .breakfast-container{
        flex-direction: column;
        align-items: center;
    }

    /*products*/
    .products-section{
        padding: 0 10px;
    }

    .products-section h2{
        margin-bottom: 1.5rem;
    }

    .products-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 585px){
    /*benefits*/
    .benefit-container{
        justify-content: center;
    }
    
    /*location*/
    .location-section{
        margin: 0;
        padding: 4.375rem 10px;
    }

    .location__inputs{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 472px) {
    /*intro*/

    .intro-section{
        padding: 4.375rem 0;
    }

    .magic-container{
        margin: 0;
    }

    /*info*/
    .info-section{
        padding: 4.375rem 10px;
    }

    .benefit-container{
        justify-content: space-between;
        align-items: flex-start;
    }
    .benefit__item{
        width: 7.8125rem;
    }

    .catalog-text,
    .tool-text{
        left: 1rem;
        width: 88%;
    }

    .b-title{
        font-size: 2.0625rem;
    }

    .c-subtitle{
        font-size: 1.125rem;
    }

    /*footer*/
    .footer-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    /* 
}